body {
    margin: 0;
}

.slideout {
    position: fixed;
    left: -250px; /* Slideout width + a little extra */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    transition: left 0.3s;
    z-index: 1000;
}

.slideout.open {
    left: 0;
}

.slideout-header {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}