body {
    margin: 0;
}

.slideout {
    position: fixed;
    left: -400px; /* Slideout width + a little extra */
    top: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto; /* Enable vertical scrolling */
}

.slideout.open {
    left: 0;
}

.slideout-header {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.canvas { 
    display: inline-block;
    display: inline-block;
    margin: 0px 10px; }


#rightSlideout {
    position: fixed;
    top: 0;
    right: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #fff;
    color: #fff;
    transition: right 0.3s ease;
} 

#openButton {
    background-color: #888;
    color: #020202;
} 

#closeButton {
    bottom: 20px;
    left: 50%;
}

#rightSlideoutContent {
    padding: 20px;
    color: #000;
}

button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}
